*{
    padding: 0;
    text-decoration: o;
    list-style: none;
}
body{
    font-family: monospace;
    /*background-color: blanchedalmond;*/
    background-image:url("laptop.jpeg");
    background-repeat:repeat;
    background-attachment:fixed;
    background-size: 100%;
    

}
nav{
    background-color: rgb(15, 17, 16);
    height: 100px;
    width: auto;
}
label.logo{
    font-size: 60px;
    color: rgb(24, 24, 141);
    text-align: left;
    line-height: 100px;
    font-weight: bold;
    }

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 30px;
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
}

nav ul li a{
    color:rgb(178, 188, 204);
    font-size: 17px;
    text-transform: capitalize;
}
a.active,a:hover{
    background-color: rgb(29, 115, 190);
}
p{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

ol li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-style: oblique;
    text-align: center;
    color: rgb(37, 23, 167);
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    
}
h1{
    font-size: 30px;
    text-align: center;
    background-color: rgb(206, 224, 224);
    width: auto;
    height: 60px;
    
}

img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}
.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position:absolute;
    bottom: px;
    right: 80px;
    background-color:rgb(146, 77, 77);
    color: black;
    padding-left: 50px;
    padding-right: 30px;
    width: 70px;
    height: 70px;
    margin-top:-15ch;
    margin-right: 80ch;
  }
  .text-block p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-left: -45ch;
  }

  